.box {
  margin: 10px;
  text-align: left;
  /* background-color: red; */
}
.main-heading {
  color: red;
}
.main-header {
  background-color: red;
  color: white;
}
.line {
  height: 2px;
  background-color: red;
}
.skin-container {
  height: 1169.29px;
  width: 826.77px;
}
